* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  background: #ffe7ff;
  font-family: "Martian Mono", monospace;
}

h1 {
  margin-bottom: 20px;
  font-size: 2em;
  color: #fff;
}

h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #444;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 800px;
}

.box {
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 36px rgba(67, 67, 67, 0.06);
  border-radius: 10px;
  background: #fff;
  width: 100%;
  margin-bottom: 20px;
}

.box-bg {
  background-image: url("music.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form input {
  padding: 12px;
  border: none;
  background: #f6f6f5;
  margin-bottom: 20px;
  border-radius: 6px;
  min-width: 250px;
}

.btn {
  background: #ca3fc1;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
}

.btn:hover {
  background: #c154c1;
}

.result.box, .saved-lyrics.box {
  padding: 0;
  margin-top: 20px;
}

.song-list, #saved-lyrics-list {
  list-style: none;
  padding: 0;
}

.song-list li, #saved-lyrics-list li {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #a94bbb;
  color: #fff;
  padding: 15px;
  border-radius: 4px;
}

.song-list li img {
  max-width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.song-list li span, .song-list li button {
  background: #fff;
  color: #222;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.song-list li span:hover, .song-list li button:hover {
  background: #d9d9d9;
}

.full-lyrics {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}

